<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:stores) %>
<% end %>

<%= render :partial => 'spree/admin/shared/store_sub_menu' %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:new_store), new_object_url,  :icon => 'icon-plus', :id => 'admin_new_store_link' %>
  </li>
<% end %>

<table class="index" id='listing_stores'>
  <thead>
    <th><%= Spree.t(:store_name) %></th>
    <th><%= Spree.t(:domains) %></th>
    <th><%= Spree.t(:homepage) %></th>
    <th>Indexed on WWW</th>
    <th data-hook="admin_stores_index_header_actions" class="actions" style="width: 80px"></th>
  </thead>
  <tbody>
    <% @stores.each do |store|%>
      <tr id="<%= spree_dom_id store %>"
          data-hook="admin_stores_index_rows" class="<%= cycle('odd', 'even') %>">
        <td><%= store.name %>  <br />
            <b>Code:</b> <%= store.code %>
        </td>
        <td><%= store.domains.split(" ").map{|x| truncate(x, length: 30, omission: '...')}.join(', ') %></td>
        <td><%= link_to(store.page.title, store.page.link, target: '_blank') rescue 'unassigned' %></td>
        <td><%= store.index_on_www? ? 'Yes' : 'No' %></td>
        <td data-hook="admin_stores_index_row_actions" class="actions">
          <%= link_to_edit store, :no_text => true %> &nbsp;
          <%= link_to_delete store, :no_text => true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
